## Lists, nested lists, tuples, sets, and dictionaries , Loops.

**LIST**
- Ordered set of objects
- Lists are mutable ( Can add or remove item after creating a list)
- Can contain Duplicates , items need not be Unique
- Elements can be of different data types

In [71]:
# can create empty lists
empty = []

In [72]:
# Begins and ends with square brackets [ ] , with each item separated by a , ( keep a space after , ) 
list1 = [7,8,9,10]

In [73]:
#Can contain numbers and strings together
list2 = ['one',2,'three',4]

In [74]:
# can have lists inside of a list
list_in_list = [['one',1],['two',2],['three',3],['four',4]]

In [21]:
# Zipping lists together:
# zip takes two (or more) lists as inputs and returns an object that contains a list of pairs.

lista = ['one','two','three','four']
listb = [1,2,3,4]
lista_b = zip(lista,listb)

In [22]:
# does not print the zipped lists. Have to pass it as a list
lista_b

In [23]:
# this will print the zipped list as a list
listc = list(lista_b)

In [24]:
print(listc)

[('one', 1), ('two', 2), ('three', 3), ('four', 4)]

**Appending item in list**

In [9]:
# In empty list
empty= []

In [10]:
# Will add 8 to an empty list
empty.append(8)

In [11]:
print(empty)

[8]

In [12]:
# Will append at end of the list, can add str and int
empty.append(80)
empty.append("one")

In [13]:
print(empty)

[8, 80, 'one']

In [30]:
# adding more than one item in a list. 
empty_add = empty + [90,8,2,"five"]

In [27]:
print(empty_add)

[8, 80, 'one', 90, 8, 2, 'five']

In [31]:
# adding int only
empty_add = empty + [20]

In [32]:
print(empty_add)

[8, 80, 'one', 20]

In [36]:
# Insert will add to the specified index 
empty_add.insert(3,'middle')

In [37]:
print(empty_add)

[8, 80, 'one', 'middle', 20]

In [33]:
add1 = [5,'four',3,'two']

In [34]:
full_add = add1 + empty_add

In [35]:
print(full_add)

[5, 'four', 3, 'two', 8, 80, 'one', 20]

In [25]:
# from above. Append will add to the end of the list. 
listc.append(['five',5])

In [91]:
print(listc)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ['five', 5]]

In [38]:
# Insert will add to the specified index 
listc.insert(3,['middle',100])

In [39]:
print(listc)

[('one', 1), ('two', 2), ('three', 3), ['middle', 100], ('four', 4), ['five', 5]]

**Range**

In [92]:
# will create a range from 0 to 9 ( does not include the number in agrument)
rng = range(10)

In [93]:
print(rng)

range(0, 10)

In [94]:
print(list(rng))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
# creating range not starting with 0
rng1 = range(8,15)

In [96]:
print(list(rng1))

[8, 9, 10, 11, 12, 13, 14]

In [97]:
# Range that will skip numbers - Range below will start at 5, difference of 3 . End at 21. 
rng2 = range(5,22,3)

In [98]:
print(list(rng2))

[5, 8, 11, 14, 17, 20]

**Length, slicing List, change list element**

In [1]:
harry_potter = ['Harry','Ron',"Hermione",'Luna','Neville','Ginny','Fred','George','Hedwig','McGonagall','Hagrid']

In [100]:
print(len(harry_potter))

11

In [101]:
# Length of 4th element in list. Luna is 4 characters 
print(len(harry_potter[3]))

4

In [102]:
# first element in list. Starts with index 0
harry_potter[0]

'Harry'

In [103]:
#selecting first 5 elements
harry_potter[:5]

['Harry', 'Ron', 'Hermione', 'Luna', 'Neville']

In [104]:
# 5th to last element
harry_potter[5:]

['Ginny', 'Fred', 'George', 'Hedwig', 'McGonagall', 'Hagrid']

In [105]:
# last element in list
harry_potter[-1]

'Hagrid'

In [106]:
# last 3 element in list
harry_potter[-3:]

['Hedwig', 'McGonagall', 'Hagrid']

In [107]:
# all elements without the last 3
harry_potter[:-3]

['Harry', 'Ron', 'Hermione', 'Luna', 'Neville', 'Ginny', 'Fred', 'George']

In [108]:
# elements in the middle of the list. Started with Luna (index 3) ending at Hedwig( index 8)
harry_potter[3:9]

['Luna', 'Neville', 'Ginny', 'Fred', 'George', 'Hedwig']

In [109]:
new_hp = harry_potter + ["Harry","Harry",'Ron','Ron','Ron','Ron']

In [110]:
# Counting number of Ron in the new hp
new_hp.count('Ron')

5

**Change/insert/remove element in a list**

In [3]:
print(harry_potter)

['Harry', 'Ron', 'Hermione', 'Luna', 'Neville', 'Ginny', 'Fred', 'George', 'Hedwig', 'McGonagall', 'Hagrid']

In [4]:
# will change the element at position -3 'Hedwig' to 'Sirius'
harry_potter[-3] = 'Sirius'

In [5]:
print(harry_potter)

['Harry', 'Ron', 'Hermione', 'Luna', 'Neville', 'Ginny', 'Fred', 'George', 'Sirius', 'McGonagall', 'Hagrid']

In [43]:
# Add hedwig after harry
harry_potter.insert(1,'hedwig')

In [44]:
print(harry_potter)

['Harry', 'hedwig', 'Ron', 'Hermione', 'Luna', 'Neville', 'Ginny', 'Fred', 'George', 'Sirius', 'McGonagall', 'Hagrid']

In [45]:
# CASE SENSITIVE, cant remove Hedwig - should match case with list 
harry_potter.remove("Hedwig")

ValueError: list.remove(x): x not in list

In [46]:
#removing hedwig
harry_potter.remove("hedwig")

**Sort List**

In [111]:
#sort by name. This will change the original list
new_hp.sort()

In [112]:
print(new_hp)

['Fred', 'George', 'Ginny', 'Hagrid', 'Harry', 'Harry', 'Harry', 'Hedwig', 'Hermione', 'Luna', 'McGonagall', 'Neville', 'Ron', 'Ron', 'Ron', 'Ron', 'Ron']

In [145]:
#This will not change the original list
sorted_hp = sorted(harry_potter)

In [146]:
print(sorted_hp)

['Fred', 'George', 'Ginny', 'Hagrid', 'Harry', 'Hedwig', 'Hermione', 'Luna', 'McGonagall', 'Neville', 'Ron']

In [147]:
print(harry_potter)

['Harry', 'Ron', 'Hermione', 'Luna', 'Neville', 'Ginny', 'Fred', 'George', 'Hedwig', 'McGonagall', 'Hagrid']

**Functions for lists**

In [138]:
# creating a function adding first and last element of a list
def first_last(lst):
    num = lst[0]+lst[-1]
    return num

In [139]:
# testing the function
lst1 = [9,8,78,12,4]

In [140]:
# 9+4 = 13
print(first_last(lst1))

13

In [148]:
# finding the list with more items 
def long_list(a,b):
    if len(a)>len(b):
        return a
    else:
        return b

In [149]:
#new_hp list is longer than harry_potter list
print(long_list(harry_potter,new_hp))

['Fred', 'George', 'Ginny', 'Hagrid', 'Harry', 'Harry', 'Harry', 'Hedwig', 'Hermione', 'Luna', 'McGonagall', 'Neville', 'Ron', 'Ron', 'Ron', 'Ron', 'Ron']

In [152]:
# function to remove elements in the middle of a list. give paraments of lst and index of the elements to be removed 
def remove_middle(lst, me1,me2):
    return lst[:me1] + lst[me2+1:]

In [155]:
hp_movies = ["1 Harry Potter and the Philosophers Stone",
             "2 Harry Potter and the Chambers of Secret",
             "3 Harry Potter and the Prisoner of Azkaban ",
             "4 Harry Potter and the Goblet of Fire" ,
             "5 Harry Potter and the Order of the Phoenix",
            "6 Harry Potter and the Half-Blood Prince",
            "7a Harry Potter and the Deathly Hallows – Part 1",
             "7b Harry Potter and the Deathly Hallows – Part 2"]

In [156]:
# remove the 3,4,5 movies from the list at index 2,3,4

In [157]:
print(remove_middle(hp_movies,2,4))

['1 Harry Potter and the Philosophers Stone', '2 Harry Potter and the Chambers of Secret', '6 Harry Potter and the Half-Blood Prince', '7a Harry Potter and the Deathly Hallows – Part 1', '7b Harry Potter and the Deathly Hallows – Part 2']

**Comprehensive Lists, Calculations in a list**

In [164]:
list1 = [1,2,3,4,5,6,7,8]

In [165]:
#We want another list that is list1 multiplied by 4
list2 = [ i*2 for i in list1]

In [166]:
print(list2)

[2, 4, 6, 8, 10, 12, 14, 16]

In [169]:
# More complex calculations . we can add 5 to items in list1 and divide by 4.5 .
list3 = [(i*5)/0.25 for i in list2]

In [170]:
print(list3)

[40.0, 80.0, 120.0, 160.0, 200.0, 240.0, 280.0, 320.0]

In [171]:
rng15 = range(15)

In [174]:
print(list(rng15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [172]:
rng15_squared = [ i**2 for i in rng15]

In [173]:
print(rng15_squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [186]:
# greater than or less thank or other operators
greater = [ i > 4 for i in rng15]

In [187]:
print(greater)

[False, False, False, False, False, True, True, True, True, True, True, True, True, True, True]

In [191]:
# in nested list
listn = [[8,9],[5,7],[8,3],[4,6],[99,78],[89,132]]

In [192]:
#less than
less_than = [i1>i2 for(i1,i2) in listn]

In [193]:
print(less_than)

[False, False, True, False, True, False]

In [175]:
# get remainder 
remainder = [ i%5 for i in rng15_squared]

In [176]:
print(remainder)

[0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1]

In [177]:
# for strings
print(harry_potter)

['Harry', 'Ron', 'Hermione', 'Luna', 'Neville', 'Ginny', 'Fred', 'George', 'Hedwig', 'McGonagall', 'Hagrid']

In [179]:
# say hello to all 
hello_all = ["Hello " + i for i in harry_potter]

In [180]:
print(hello_all)

['Hello Harry', 'Hello Ron', 'Hello Hermione', 'Hello Luna', 'Hello Neville', 'Hello Ginny', 'Hello Fred', 'Hello George', 'Hello Hedwig', 'Hello McGonagall', 'Hello Hagrid']

In [181]:
# get len of all names in list
len_hp = [len(i) for i in harry_potter]

In [182]:
print(len_hp)

[5, 3, 8, 4, 7, 5, 4, 6, 6, 10, 6]

In [183]:
print(new_hp)

['Fred', 'George', 'Ginny', 'Hagrid', 'Harry', 'Harry', 'Harry', 'Hedwig', 'Hermione', 'Luna', 'McGonagall', 'Neville', 'Ron', 'Ron', 'Ron', 'Ron', 'Ron']

In [184]:
ron_repeat = [ i=='Ron' for i in new_hp]

In [185]:
print(ron_repeat)

[False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True]

In [194]:
hp_last = ['Potter','Weasley','Granger','Lovegood','Longbottom']

In [197]:
hp_five = harry_potter[:5]

In [198]:
hp_five

['Harry', 'Ron', 'Hermione', 'Luna', 'Neville']

In [203]:
#combine names 
combine_name = [firstname + " "+ lastname for (firstname, lastname) in zip(hp_five,hp_last)]

In [204]:
print(combine_name)

['Harry Potter', 'Ron Weasley', 'Hermione Granger', 'Luna Lovegood', 'Neville Longbottom']

### Loops - Let us move through each item of a list

In [113]:
# a simple  for loop
colors = ['Red',"yellow","orange","pink","purple","lilac"]

In [114]:
#This will print each color in the colors list. 
for color in colors:
    print(color)

Red
yellow
orange
pink
purple
lilac

In [115]:
# We can use any name in the for loop. using i instead of color will produce the same result
for i in colors:
    print(i)

Red
yellow
orange
pink
purple
lilac

### Range in Loops

In [116]:
# This will print "yes" three times as mentioned in the range. 
# We can change this to 10 if we want yes printed 10 times
for i in range(3):
  print("yes")

yes
yes
yes

In [47]:
sport = "I like Quidditch"

In [48]:
for i in range(5):
    print(sport)

I like Quidditch
I like Quidditch
I like Quidditch
I like Quidditch
I like Quidditch

In [119]:
# We can append (add items to the end) items from one list to other list
lst1 = ["apples","oranges","bananas","grapes"]
lst2 =["kiwi","mango","berries","papaya"]

In [120]:
# this will add each fruit from lst1 into lst2 one at a time and 
for fruits in lst1:
    lst2.append(fruits)
print(lst2)

['kiwi', 'mango', 'berries', 'papaya', 'apples', 'oranges', 'bananas', 'grapes']

In [121]:
# if print is in the for statement then 4 lines will be printed as there are 4 fruits in lst1 to be added to lst2
for fruits in lst1:
    lst2.append(fruits)
    print(lst2)

['kiwi', 'mango', 'berries', 'papaya', 'apples', 'oranges', 'bananas', 'grapes', 'apples']
['kiwi', 'mango', 'berries', 'papaya', 'apples', 'oranges', 'bananas', 'grapes', 'apples', 'oranges']
['kiwi', 'mango', 'berries', 'papaya', 'apples', 'oranges', 'bananas', 'grapes', 'apples', 'oranges', 'bananas']
['kiwi', 'mango', 'berries', 'papaya', 'apples', 'oranges', 'bananas', 'grapes', 'apples', 'oranges', 'bananas', 'grapes']

In [122]:
print(lst1)

['apples', 'oranges', 'bananas', 'grapes']

In [123]:
print(lst2)

['kiwi', 'mango', 'berries', 'papaya', 'apples', 'oranges', 'bananas', 'grapes', 'apples', 'oranges', 'bananas', 'grapes']

### Break in loop

A break in the for loop will stop the loop when the value is found. It will not print all the values in the list

In [124]:
fruits = ['kiwi', 'mango', 'berries', 'papaya', 'apples', 'oranges', 'bananas', 'grapes']

In [125]:
# the loop will print the item and then print the statment
for fruit in fruits:
  print(fruit)
  if fruit == 'apples':
    break
print("They have what I want!")

kiwi
mango
berries
papaya
apples
They have what I want!

### Continue in loop

Continue will continue to print the items in a list but skip the items not required

In [126]:
ages = [12,18,15,17,16,19,17,16,19,18]

In [127]:
# Skips all the ages 16 and under
for age in ages:
    if age < 16:
        continue
    print(age)

18
17
16
19
17
16
19
18

In [128]:
fruits1 = ['kiwi', 'mango', 'berries', 'papaya','mango', 'apples','mango', 'oranges', 'bananas','mango', 'grapes']

In [129]:
for i in fruits1:
    if i == 'mango':
        continue
    print(i)

kiwi
berries
papaya
apples
oranges
bananas
grapes

### While Loops

While loop performs the set of code until some condition is met

In [130]:
fruits = ['kiwi', 'mango', 'berries', 'papaya', 'apples', 'oranges', 'bananas', 'grapes']

In [131]:
len(fruits)

8

In [132]:
# When the condition index<len(fruits) is met the loops run. If we set the index = 9, it will not run.
# the loop will print the name of the fruit at index mentioned and the next
index = 0
while index < len(fruits):
  print(fruits[index])
  index += 1

kiwi
mango
berries
papaya
apples
oranges
bananas
grapes

In [133]:
index = 9
while index < len(fruits):
  print(fruits[index])
  index += 1

In [134]:
#apples is at index 4 . So loop will print apples and everything after apples
index = 4
while index < len(fruits):
  print(fruits[index])
  index += 1

apples
oranges
bananas
grapes

In [135]:
# appending new items in a list using while

In [136]:
grocerylist = []

In [137]:
masterlist = ['apples', 'oranges', 'bananas','milk','bread','eggs','yogurt','cheese','cereal','chips']