# Pandas

In [1]:
#import pandas module
import pandas as pd
import numpy as np

**Creating a Dataframe**

In [2]:
# Creating by passing a dictionary {}
# Key is column name
# Value is a list 

students = pd.DataFrame({
    'name':['Harry Potter','Ron Weasley','Hermione Granger','Luna Lovegood','Susan Bones','Draco Malfoy','Neville Longbottom'],
    'house':['Gryffindor','Gryffindor','Gryffindor','Ravenclaw','Hufflepuff','Slytherin','Gryffindor'],
    'age': [11,11,10,11,12,12,11],
    'blood':['Half-Blood','Pure-Blood','Muggle-born','Pure-Blood','Half-Blood','Pure-Blood','Pure-Blood'],
    'grade':[89,86,100,95,78,60,98],
    'height':[4.6,4.11,4.3,4.4,4.2,4.9,4.8]
})

In [3]:
print(students)

                 name       house  age        blood  grade  height
0        Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1         Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2    Hermione Granger  Gryffindor   10  Muggle-born    100    4.30
3       Luna Lovegood   Ravenclaw   11   Pure-Blood     95    4.40
4         Susan Bones  Hufflepuff   12   Half-Blood     78    4.20
5        Draco Malfoy   Slytherin   12   Pure-Blood     60    4.90
6  Neville Longbottom  Gryffindor   11   Pure-Blood     98    4.80

In [4]:
# Creating dataframe by passing lists []
# one list represents one row 
# Columns argument to list column names

head_house = pd.DataFrame([
    ['Minerva McGonagall','Gryffindor','Transfiguration','F'],
    ['Severus Snape','Slytherin','Potions','M'],
    ['Pomona Spout','Hufflepuff','Herbology','F'],
    ['Filius Flitwik','Ravenclaw','Charms','M']],
    columns=['Name','House','Subject','Gender']
)

In [5]:
print(head_house)

                 Name       House          Subject Gender
0  Minerva McGonagall  Gryffindor  Transfiguration      F
1       Severus Snape   Slytherin          Potions      M
2        Pomona Spout  Hufflepuff        Herbology      F
3      Filius Flitwik   Ravenclaw           Charms      M

In [6]:
# Load a csv file
# https://www.kaggle.com/nehatiwari03/harry-potter-fanfiction-data
# The dataset was too large. Only extracted top 50 rows for this example
hp= pd.read_csv("hp_topfifty.csv")

In [7]:
hp.head(2)

,Unnamed: 0,Chapters,Favs,Follows,Published,Reviews,Updated,Words,author,characters,genre,language,rating,story_link,synopsis,title,published_mmyy,pairing
0,0,1,2.0,NaN,12/31/2019,1.0,NaN,"6,840",reviews,"Sirius B., Remus L., James P., Regulus B.",Angst/Hurt/Comfort,English,T,https://www.fanfiction.net/s/13466909/1/If-You...,Regulus and James aren't happy. They know they...,If You Change Your Mind,12-2019,NaN
1,1,1,1.0,NaN,12/31/2019,NaN,NaN,"10,962",JoyI9199,"Harry P., Draco M., Narcissa M., Charlie W.",Angst/Drama,English,M,https://www.fanfiction.net/s/13466894/1/Bloody...,When a plot from the Founder's age is revealed...,Bloody Ballgowns,12-2019,NaN

**Select Columns Rows of a DataFrame**

In [8]:
students

                 name       house  age        blood  grade  height
0        Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1         Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2    Hermione Granger  Gryffindor   10  Muggle-born    100    4.30
3       Luna Lovegood   Ravenclaw   11   Pure-Blood     95    4.40
4         Susan Bones  Hufflepuff   12   Half-Blood     78    4.20
5        Draco Malfoy   Slytherin   12   Pure-Blood     60    4.90
6  Neville Longbottom  Gryffindor   11   Pure-Blood     98    4.80

In [9]:
# This is a DataFrame
type(students)

pandas.core.frame.DataFrame

In [10]:
# Selecting one column of a dataframe
name_col = students.name

In [11]:
print(name_col)

0          Harry Potter
1           Ron Weasley
2      Hermione Granger
3         Luna Lovegood
4           Susan Bones
5          Draco Malfoy
6    Neville Longbottom
Name: name, dtype: object

In [12]:
# This is not a dataframe just a column
type(name_col)

pandas.core.series.Series

In [13]:
# Selecting more than one column of DataFrame
student_n_age = students[['name','age']]

In [14]:
print(student_n_age)

                 name  age
0        Harry Potter   11
1         Ron Weasley   11
2    Hermione Granger   10
3       Luna Lovegood   11
4         Susan Bones   12
5        Draco Malfoy   12
6  Neville Longbottom   11

In [15]:
# more than one column - Type is a DataFrame
type(student_n_age)

pandas.core.frame.DataFrame

In [16]:
# Select a row from dataframe
s4 = students.iloc[3]

In [17]:
# Starts at index 0, Luna is on Row 4 but index 3
s4

name      Luna Lovegood
house         Ravenclaw
age                  11
blood        Pure-Blood
grade                95
height              4.4
Name: 3, dtype: object

In [18]:
# series type
type(s4)

pandas.core.series.Series

In [19]:
# Select more than one row . Will not include the ending index ie 3 in this case
s_more = students.iloc[0:3]

In [20]:
s_more

               name       house  age        blood  grade  height
0      Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1       Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2  Hermione Granger  Gryffindor   10  Muggle-born    100    4.30

In [21]:
# Dataframe type
type(s_more)

pandas.core.frame.DataFrame

In [22]:
students.iloc[:3]

               name       house  age        blood  grade  height
0      Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1       Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2  Hermione Granger  Gryffindor   10  Muggle-born    100    4.30

In [23]:
students.iloc[3:]

                 name       house  age       blood  grade  height
3       Luna Lovegood   Ravenclaw   11  Pure-Blood     95     4.4
4         Susan Bones  Hufflepuff   12  Half-Blood     78     4.2
5        Draco Malfoy   Slytherin   12  Pure-Blood     60     4.9
6  Neville Longbottom  Gryffindor   11  Pure-Blood     98     4.8

In [24]:
students.iloc[-2:]

                 name       house  age       blood  grade  height
5        Draco Malfoy   Slytherin   12  Pure-Blood     60     4.9
6  Neville Longbottom  Gryffindor   11  Pure-Blood     98     4.8

In [25]:
students.iloc[:-2]

               name       house  age        blood  grade  height
0      Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1       Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2  Hermione Granger  Gryffindor   10  Muggle-born    100    4.30
3     Luna Lovegood   Ravenclaw   11   Pure-Blood     95    4.40
4       Susan Bones  Hufflepuff   12   Half-Blood     78    4.20

In [26]:
students.iloc[-4:-1]

            name       house  age       blood  grade  height
3  Luna Lovegood   Ravenclaw   11  Pure-Blood     95     4.4
4    Susan Bones  Hufflepuff   12  Half-Blood     78     4.2
5   Draco Malfoy   Slytherin   12  Pure-Blood     60     4.9

In [27]:
# select rows that match a condition
gryffindor = students[students.house == 'Gryffindor']

In [28]:
print(gryffindor)

                 name       house  age        blood  grade  height
0        Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1         Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2    Hermione Granger  Gryffindor   10  Muggle-born    100    4.30
6  Neville Longbottom  Gryffindor   11   Pure-Blood     98    4.80

In [29]:
not_gryffindor = students[students.house != 'Gryffindor']

In [30]:
not_gryffindor

            name       house  age       blood  grade  height
3  Luna Lovegood   Ravenclaw   11  Pure-Blood     95     4.4
4    Susan Bones  Hufflepuff   12  Half-Blood     78     4.2
5   Draco Malfoy   Slytherin   12  Pure-Blood     60     4.9

In [31]:
# more than one condition using & 
y_gryffindor = students[(students.house == 'Gryffindor') & (students.blood == 'Pure-Blood')]

In [32]:
y_gryffindor

                 name       house  age       blood  grade  height
1         Ron Weasley  Gryffindor   11  Pure-Blood     86    4.11
6  Neville Longbottom  Gryffindor   11  Pure-Blood     98    4.80

In [33]:
# more than one condition using | pipe - it means or
y_g = students[(students.house == 'Gryffindor') | (students.age < 12)]

In [34]:
y_g

                 name       house  age        blood  grade  height
0        Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1         Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2    Hermione Granger  Gryffindor   10  Muggle-born    100    4.30
3       Luna Lovegood   Ravenclaw   11   Pure-Blood     95    4.40
6  Neville Longbottom  Gryffindor   11   Pure-Blood     98    4.80

In [35]:
# Select rows using isin . Returns the matching rows
students[students.blood.isin(['Pure-Blood','Half-Blood'])]

                 name       house  age       blood  grade  height
0        Harry Potter  Gryffindor   11  Half-Blood     89    4.60
1         Ron Weasley  Gryffindor   11  Pure-Blood     86    4.11
3       Luna Lovegood   Ravenclaw   11  Pure-Blood     95    4.40
4         Susan Bones  Hufflepuff   12  Half-Blood     78    4.20
5        Draco Malfoy   Slytherin   12  Pure-Blood     60    4.90
6  Neville Longbottom  Gryffindor   11  Pure-Blood     98    4.80

**Reset Index**

In [36]:
# the index is not in order as this is just a selected rows
y_g

                 name       house  age        blood  grade  height
0        Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1         Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2    Hermione Granger  Gryffindor   10  Muggle-born    100    4.30
3       Luna Lovegood   Ravenclaw   11   Pure-Blood     95    4.40
6  Neville Longbottom  Gryffindor   11   Pure-Blood     98    4.80

In [37]:
# This will create a new index but will keep the new index. ANd this does not change the original dataframe index
y_g.reset_index()

   index                name       house  age        blood  grade  height
0      0        Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1      1         Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2      2    Hermione Granger  Gryffindor   10  Muggle-born    100    4.30
3      3       Luna Lovegood   Ravenclaw   11   Pure-Blood     95    4.40
4      6  Neville Longbottom  Gryffindor   11   Pure-Blood     98    4.80

In [38]:
# index dint change
y_g

                 name       house  age        blood  grade  height
0        Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1         Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2    Hermione Granger  Gryffindor   10  Muggle-born    100    4.30
3       Luna Lovegood   Ravenclaw   11   Pure-Blood     95    4.40
6  Neville Longbottom  Gryffindor   11   Pure-Blood     98    4.80

In [39]:
# This will drop the index column that has old index number. But will not change the original
y_g.reset_index(drop=True)

                 name       house  age        blood  grade  height
0        Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1         Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2    Hermione Granger  Gryffindor   10  Muggle-born    100    4.30
3       Luna Lovegood   Ravenclaw   11   Pure-Blood     95    4.40
4  Neville Longbottom  Gryffindor   11   Pure-Blood     98    4.80

In [40]:
y_g

                 name       house  age        blood  grade  height
0        Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1         Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2    Hermione Granger  Gryffindor   10  Muggle-born    100    4.30
3       Luna Lovegood   Ravenclaw   11   Pure-Blood     95    4.40
6  Neville Longbottom  Gryffindor   11   Pure-Blood     98    4.80

In [41]:
# This will change the index in the original dataframe
y_g.reset_index(drop=True,inplace=True)

In [42]:
y_g

                 name       house  age        blood  grade  height
0        Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1         Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2    Hermione Granger  Gryffindor   10  Muggle-born    100    4.30
3       Luna Lovegood   Ravenclaw   11   Pure-Blood     95    4.40
4  Neville Longbottom  Gryffindor   11   Pure-Blood     98    4.80

**Adding/Renaming Columns/rows  to DataFrame**

In [43]:
# Adding rows to end of dataframe
d1  = [{'name': 'Cedric Diggory', 'house':'Hufflepuff','age':16,'blood': 'Half-Blood','grade':87,'height': 5.1}]

s1 = students.append(d1,ignore_index=True,sort=False)

d2  = [{'name': 'Cho Chang', 'house':'Ravenclaw','age':12,'blood': 'Pure-Blood','grade':89,'height': 4.3}]

s2 = s1.append(d2,ignore_index=True,sort=False)

d3  = [{'name': 'Hannah Abbott', 'house':'Hufflepuff','age':12,'blood': 'Muggle-born','grade':92,'height': 4.3}]

s3 = s2.append(d3,ignore_index=True,sort=False)

d4  = [{'name': 'Padma Patil', 'house':'Ravenclaw','age':11,'blood': 'Pure-Blood','grade':79,'height': 4.2}]

s4=s3.append(d4,ignore_index=True,sort=False)

d5  = [{'name': 'Gregory Goyle', 'house':'Slytherin','age':12,'blood': 'Pure-Blood','grade':65,'height': 4.9}]

d6  = [{'name': 'Vincent Crabbe', 'house':'Slytherin','age':12,'blood': 'Half-Blood','grade':69,'height': 4.7}]

s5=s4.append(d5,ignore_index=True,sort=False)
students = s5.append(d6,ignore_index=True,sort=False)

students

                  name       house  age        blood  grade  height
0         Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1          Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2     Hermione Granger  Gryffindor   10  Muggle-born    100    4.30
3        Luna Lovegood   Ravenclaw   11   Pure-Blood     95    4.40
4          Susan Bones  Hufflepuff   12   Half-Blood     78    4.20
5         Draco Malfoy   Slytherin   12   Pure-Blood     60    4.90
6   Neville Longbottom  Gryffindor   11   Pure-Blood     98    4.80
7       Cedric Diggory  Hufflepuff   16   Half-Blood     87    5.10
8            Cho Chang   Ravenclaw   12   Pure-Blood     89    4.30
9        Hannah Abbott  Hufflepuff   12  Muggle-born     92    4.30
10         Padma Patil   Ravenclaw   11   Pure-Blood     79    4.20
11       Gregory Goyle   Slytherin   12   Pure-Blood     65    4.90
12      Vincent Crabbe   Slytherin   12   Half-Blood     69    4.70

In [44]:
head_house

                 Name       House          Subject Gender
0  Minerva McGonagall  Gryffindor  Transfiguration      F
1       Severus Snape   Slytherin          Potions      M
2        Pomona Spout  Hufflepuff        Herbology      F
3      Filius Flitwik   Ravenclaw           Charms      M

In [45]:
# adding a column to the dataframe
head_house['animal'] = [ 'Lion','Snake','Badger','Eagle']

In [46]:
head_house

                 Name       House          Subject Gender  animal
0  Minerva McGonagall  Gryffindor  Transfiguration      F    Lion
1       Severus Snape   Slytherin          Potions      M   Snake
2        Pomona Spout  Hufflepuff        Herbology      F  Badger
3      Filius Flitwik   Ravenclaw           Charms      M   Eagle

In [47]:
# Rename column by passing dictionary in orignal datafrome - inplace true 
head_house.rename(columns = {'Name':'Head_Name',
                             'animal':'animal'},inplace = True)

In [48]:
# adding a column with same details for all rows
head_house['HogwartsHouse'] = 'Yes'

In [49]:
head_house

,Head_Name,House,Subject,Gender,animal,HogwartsHouse
0,Minerva McGonagall,Gryffindor,Transfiguration,F,Lion,Yes
1,Severus Snape,Slytherin,Potions,M,Snake,Yes
2,Pomona Spout,Hufflepuff,Herbology,F,Badger,Yes
3,Filius Flitwik,Ravenclaw,Charms,M,Eagle,Yes

In [50]:
students

                  name       house  age        blood  grade  height
0         Harry Potter  Gryffindor   11   Half-Blood     89    4.60
1          Ron Weasley  Gryffindor   11   Pure-Blood     86    4.11
2     Hermione Granger  Gryffindor   10  Muggle-born    100    4.30
3        Luna Lovegood   Ravenclaw   11   Pure-Blood     95    4.40
4          Susan Bones  Hufflepuff   12   Half-Blood     78    4.20
5         Draco Malfoy   Slytherin   12   Pure-Blood     60    4.90
6   Neville Longbottom  Gryffindor   11   Pure-Blood     98    4.80
7       Cedric Diggory  Hufflepuff   16   Half-Blood     87    5.10
8            Cho Chang   Ravenclaw   12   Pure-Blood     89    4.30
9        Hannah Abbott  Hufflepuff   12  Muggle-born     92    4.30
10         Padma Patil   Ravenclaw   11   Pure-Blood     79    4.20
11       Gregory Goyle   Slytherin   12   Pure-Blood     65    4.90
12      Vincent Crabbe   Slytherin   12   Half-Blood     69    4.70

In [51]:
#renaming all columns 
students.columns =['Name','House','Age','Blood_Type','Grade','Height']

In [52]:
# Adding columns by performing some function on exisiting column
students['broom_weight'] = students['Height']*2.892 + students['Age']

In [53]:
students

,Name,House,Age,Blood_Type,Grade,Height,broom_weight
0,Harry Potter,Gryffindor,11,Half-Blood,89,4.60,24.30320
1,Ron Weasley,Gryffindor,11,Pure-Blood,86,4.11,22.88612
2,Hermione Granger,Gryffindor,10,Muggle-born,100,4.30,22.43560
3,Luna Lovegood,Ravenclaw,11,Pure-Blood,95,4.40,23.72480
4,Susan Bones,Hufflepuff,12,Half-Blood,78,4.20,24.14640
5,Draco Malfoy,Slytherin,12,Pure-Blood,60,4.90,26.17080
6,Neville Longbottom,Gryffindor,11,Pure-Blood,98,4.80,24.88160
7,Cedric Diggory,Hufflepuff,16,Half-Blood,87,5.10,30.74920
8,Cho Chang,Ravenclaw,12,Pure-Blood,89,4.30,24.43560
9,Hannah Abbott,Hufflepuff,12,Muggle-born,92,4.30,24.43560
10,Padma Patil,Ravenclaw,11,Pure-Blood,79,4.20,23.14640
11,Gregory Goyle,Slytherin,12,Pure-Blood,65,4.90,26.17080
12,Vincent Crabbe,Slytherin,12,Half-Blood,69,4.70,25.59240

**Lambda Function Column and Row in DataFrame**

In [54]:
# Split name for students into first and last name
First_name = lambda x: x.split()[0]
students['First_name'] = students.Name.apply(First_name)

In [55]:
students

,Name,House,Age,Blood_Type,Grade,Height,broom_weight,First_name
0,Harry Potter,Gryffindor,11,Half-Blood,89,4.60,24.30320,Harry
1,Ron Weasley,Gryffindor,11,Pure-Blood,86,4.11,22.88612,Ron
2,Hermione Granger,Gryffindor,10,Muggle-born,100,4.30,22.43560,Hermione
3,Luna Lovegood,Ravenclaw,11,Pure-Blood,95,4.40,23.72480,Luna
4,Susan Bones,Hufflepuff,12,Half-Blood,78,4.20,24.14640,Susan
5,Draco Malfoy,Slytherin,12,Pure-Blood,60,4.90,26.17080,Draco
6,Neville Longbottom,Gryffindor,11,Pure-Blood,98,4.80,24.88160,Neville
7,Cedric Diggory,Hufflepuff,16,Half-Blood,87,5.10,30.74920,Cedric
8,Cho Chang,Ravenclaw,12,Pure-Blood,89,4.30,24.43560,Cho
9,Hannah Abbott,Hufflepuff,12,Muggle-born,92,4.30,24.43560,Hannah
10,Padma Patil,Ravenclaw,11,Pure-Blood,79,4.20,23.14640,Padma
11,Gregory Goyle,Slytherin,12,Pure-Blood,65,4.90,26.17080,Gregory
12,Vincent Crabbe,Slytherin,12,Half-Blood,69,4.70,25.59240,Vincent

In [56]:
# Split name for students into first and last name
Last_name = lambda x: x.split()[-1]
students['Last_name'] = students.Name.apply(Last_name)

In [57]:
students['Blood'] = students.Blood_Type.apply(
    lambda x: x.split('-')[0]
    )

In [58]:
students

,Name,House,Age,Blood_Type,Grade,Height,broom_weight,First_name,Last_name,Blood
0,Harry Potter,Gryffindor,11,Half-Blood,89,4.60,24.30320,Harry,Potter,Half
1,Ron Weasley,Gryffindor,11,Pure-Blood,86,4.11,22.88612,Ron,Weasley,Pure
2,Hermione Granger,Gryffindor,10,Muggle-born,100,4.30,22.43560,Hermione,Granger,Muggle
3,Luna Lovegood,Ravenclaw,11,Pure-Blood,95,4.40,23.72480,Luna,Lovegood,Pure
4,Susan Bones,Hufflepuff,12,Half-Blood,78,4.20,24.14640,Susan,Bones,Half
5,Draco Malfoy,Slytherin,12,Pure-Blood,60,4.90,26.17080,Draco,Malfoy,Pure
6,Neville Longbottom,Gryffindor,11,Pure-Blood,98,4.80,24.88160,Neville,Longbottom,Pure
7,Cedric Diggory,Hufflepuff,16,Half-Blood,87,5.10,30.74920,Cedric,Diggory,Half
8,Cho Chang,Ravenclaw,12,Pure-Blood,89,4.30,24.43560,Cho,Chang,Pure
9,Hannah Abbott,Hufflepuff,12,Muggle-born,92,4.30,24.43560,Hannah,Abbott,Muggle
10,Padma Patil,Ravenclaw,11,Pure-Blood,79,4.20,23.14640,Padma,Patil,Pure
11,Gregory Goyle,Slytherin,12,Pure-Blood,65,4.90,26.17080,Gregory,Goyle,Pure
12,Vincent Crabbe,Slytherin,12,Half-Blood,69,4.70,25.59240,Vincent,Crabbe,Half

In [59]:
students['Blood'] = students.Blood_Type.apply(
    lambda x: x.split('-')[-1]
    )

In [60]:
students

,Name,House,Age,Blood_Type,Grade,Height,broom_weight,First_name,Last_name,Blood
0,Harry Potter,Gryffindor,11,Half-Blood,89,4.60,24.30320,Harry,Potter,Blood
1,Ron Weasley,Gryffindor,11,Pure-Blood,86,4.11,22.88612,Ron,Weasley,Blood
2,Hermione Granger,Gryffindor,10,Muggle-born,100,4.30,22.43560,Hermione,Granger,born
3,Luna Lovegood,Ravenclaw,11,Pure-Blood,95,4.40,23.72480,Luna,Lovegood,Blood
4,Susan Bones,Hufflepuff,12,Half-Blood,78,4.20,24.14640,Susan,Bones,Blood
5,Draco Malfoy,Slytherin,12,Pure-Blood,60,4.90,26.17080,Draco,Malfoy,Blood
6,Neville Longbottom,Gryffindor,11,Pure-Blood,98,4.80,24.88160,Neville,Longbottom,Blood
7,Cedric Diggory,Hufflepuff,16,Half-Blood,87,5.10,30.74920,Cedric,Diggory,Blood
8,Cho Chang,Ravenclaw,12,Pure-Blood,89,4.30,24.43560,Cho,Chang,Blood
9,Hannah Abbott,Hufflepuff,12,Muggle-born,92,4.30,24.43560,Hannah,Abbott,born
10,Padma Patil,Ravenclaw,11,Pure-Blood,79,4.20,23.14640,Padma,Patil,Blood
11,Gregory Goyle,Slytherin,12,Pure-Blood,65,4.90,26.17080,Gregory,Goyle,Blood
12,Vincent Crabbe,Slytherin,12,Half-Blood,69,4.70,25.59240,Vincent,Crabbe,Blood

In [61]:
# Applying Lambda to a row
# Checking if students is tall to fly
students['can_play'] = students.apply(lambda row:
     'yes'
     if row['Height'] >= 4.5
     else 'No',
     axis=1
)

In [62]:
students

,Name,House,Age,Blood_Type,Grade,Height,broom_weight,First_name,Last_name,Blood,can_play
0,Harry Potter,Gryffindor,11,Half-Blood,89,4.60,24.30320,Harry,Potter,Blood,yes
1,Ron Weasley,Gryffindor,11,Pure-Blood,86,4.11,22.88612,Ron,Weasley,Blood,No
2,Hermione Granger,Gryffindor,10,Muggle-born,100,4.30,22.43560,Hermione,Granger,born,No
3,Luna Lovegood,Ravenclaw,11,Pure-Blood,95,4.40,23.72480,Luna,Lovegood,Blood,No
4,Susan Bones,Hufflepuff,12,Half-Blood,78,4.20,24.14640,Susan,Bones,Blood,No
5,Draco Malfoy,Slytherin,12,Pure-Blood,60,4.90,26.17080,Draco,Malfoy,Blood,yes
6,Neville Longbottom,Gryffindor,11,Pure-Blood,98,4.80,24.88160,Neville,Longbottom,Blood,yes
7,Cedric Diggory,Hufflepuff,16,Half-Blood,87,5.10,30.74920,Cedric,Diggory,Blood,yes
8,Cho Chang,Ravenclaw,12,Pure-Blood,89,4.30,24.43560,Cho,Chang,Blood,No
9,Hannah Abbott,Hufflepuff,12,Muggle-born,92,4.30,24.43560,Hannah,Abbott,born,No
10,Padma Patil,Ravenclaw,11,Pure-Blood,79,4.20,23.14640,Padma,Patil,Blood,No
11,Gregory Goyle,Slytherin,12,Pure-Blood,65,4.90,26.17080,Gregory,Goyle,Blood,yes
12,Vincent Crabbe,Slytherin,12,Half-Blood,69,4.70,25.59240,Vincent,Crabbe,Blood,yes

In [63]:
# if house is gryffindor then brave 
students['brave'] = students.House.apply(lambda x: 'Yes' if x =='Gryffindor' else 'No')

In [64]:
students

,Name,House,Age,Blood_Type,Grade,Height,broom_weight,First_name,Last_name,Blood,can_play,brave
0,Harry Potter,Gryffindor,11,Half-Blood,89,4.60,24.30320,Harry,Potter,Blood,yes,Yes
1,Ron Weasley,Gryffindor,11,Pure-Blood,86,4.11,22.88612,Ron,Weasley,Blood,No,Yes
2,Hermione Granger,Gryffindor,10,Muggle-born,100,4.30,22.43560,Hermione,Granger,born,No,Yes
3,Luna Lovegood,Ravenclaw,11,Pure-Blood,95,4.40,23.72480,Luna,Lovegood,Blood,No,No
4,Susan Bones,Hufflepuff,12,Half-Blood,78,4.20,24.14640,Susan,Bones,Blood,No,No
5,Draco Malfoy,Slytherin,12,Pure-Blood,60,4.90,26.17080,Draco,Malfoy,Blood,yes,No
6,Neville Longbottom,Gryffindor,11,Pure-Blood,98,4.80,24.88160,Neville,Longbottom,Blood,yes,Yes
7,Cedric Diggory,Hufflepuff,16,Half-Blood,87,5.10,30.74920,Cedric,Diggory,Blood,yes,No
8,Cho Chang,Ravenclaw,12,Pure-Blood,89,4.30,24.43560,Cho,Chang,Blood,No,No
9,Hannah Abbott,Hufflepuff,12,Muggle-born,92,4.30,24.43560,Hannah,Abbott,born,No,No
10,Padma Patil,Ravenclaw,11,Pure-Blood,79,4.20,23.14640,Padma,Patil,Blood,No,No
11,Gregory Goyle,Slytherin,12,Pure-Blood,65,4.90,26.17080,Gregory,Goyle,Blood,yes,No
12,Vincent Crabbe,Slytherin,12,Half-Blood,69,4.70,25.59240,Vincent,Crabbe,Blood,yes,No

In [65]:
# Adding Safe in First_name if Pure-Blood
students['pure_safe'] = students.apply(lambda row : 'Safe ' + row['First_name']
                                       if row['Blood_Type']=='Pure-Blood'
                                      else 'Not_safe ' + row['First_name'],axis=1)

In [66]:
students

,Name,House,Age,Blood_Type,Grade,Height,broom_weight,First_name,Last_name,Blood,can_play,brave,pure_safe
0,Harry Potter,Gryffindor,11,Half-Blood,89,4.60,24.30320,Harry,Potter,Blood,yes,Yes,Not_safe Harry
1,Ron Weasley,Gryffindor,11,Pure-Blood,86,4.11,22.88612,Ron,Weasley,Blood,No,Yes,Safe Ron
2,Hermione Granger,Gryffindor,10,Muggle-born,100,4.30,22.43560,Hermione,Granger,born,No,Yes,Not_safe Hermione
3,Luna Lovegood,Ravenclaw,11,Pure-Blood,95,4.40,23.72480,Luna,Lovegood,Blood,No,No,Safe Luna
4,Susan Bones,Hufflepuff,12,Half-Blood,78,4.20,24.14640,Susan,Bones,Blood,No,No,Not_safe Susan
5,Draco Malfoy,Slytherin,12,Pure-Blood,60,4.90,26.17080,Draco,Malfoy,Blood,yes,No,Safe Draco
6,Neville Longbottom,Gryffindor,11,Pure-Blood,98,4.80,24.88160,Neville,Longbottom,Blood,yes,Yes,Safe Neville
7,Cedric Diggory,Hufflepuff,16,Half-Blood,87,5.10,30.74920,Cedric,Diggory,Blood,yes,No,Not_safe Cedric
8,Cho Chang,Ravenclaw,12,Pure-Blood,89,4.30,24.43560,Cho,Chang,Blood,No,No,Safe Cho
9,Hannah Abbott,Hufflepuff,12,Muggle-born,92,4.30,24.43560,Hannah,Abbott,born,No,No,Not_safe Hannah
10,Padma Patil,Ravenclaw,11,Pure-Blood,79,4.20,23.14640,Padma,Patil,Blood,No,No,Safe Padma
11,Gregory Goyle,Slytherin,12,Pure-Blood,65,4.90,26.17080,Gregory,Goyle,Blood,yes,No,Safe Gregory
12,Vincent Crabbe,Slytherin,12,Half-Blood,69,4.70,25.59240,Vincent,Crabbe,Blood,yes,No,Not_safe Vincent

In [67]:
# removing extra colums
students.drop(['First_name', 'Last_name','Blood','brave','pure_safe'], axis = 1)

,Name,House,Age,Blood_Type,Grade,Height,broom_weight,can_play
0,Harry Potter,Gryffindor,11,Half-Blood,89,4.60,24.30320,yes
1,Ron Weasley,Gryffindor,11,Pure-Blood,86,4.11,22.88612,No
2,Hermione Granger,Gryffindor,10,Muggle-born,100,4.30,22.43560,No
3,Luna Lovegood,Ravenclaw,11,Pure-Blood,95,4.40,23.72480,No
4,Susan Bones,Hufflepuff,12,Half-Blood,78,4.20,24.14640,No
5,Draco Malfoy,Slytherin,12,Pure-Blood,60,4.90,26.17080,yes
6,Neville Longbottom,Gryffindor,11,Pure-Blood,98,4.80,24.88160,yes
7,Cedric Diggory,Hufflepuff,16,Half-Blood,87,5.10,30.74920,yes
8,Cho Chang,Ravenclaw,12,Pure-Blood,89,4.30,24.43560,No
9,Hannah Abbott,Hufflepuff,12,Muggle-born,92,4.30,24.43560,No
10,Padma Patil,Ravenclaw,11,Pure-Blood,79,4.20,23.14640,No
11,Gregory Goyle,Slytherin,12,Pure-Blood,65,4.90,26.17080,yes
12,Vincent Crabbe,Slytherin,12,Half-Blood,69,4.70,25.59240,yes

**Columns calculations**

In [68]:
# Average
# Getting the average height of students
students.Height.mean()

4.523846153846154

In [69]:
# median
# Median grade
students.Grade.median()

87.0

In [70]:
# Unique houses
students.House.unique()

array(['Gryffindor', 'Ravenclaw', 'Hufflepuff', 'Slytherin'], dtype=object)

In [71]:
# number of unique blood type
students.Blood_Type.nunique()

3

In [72]:
# Max
students.broom_weight.max()

30.7492

In [73]:
# Min
students.broom_weight.min()

22.4356

In [74]:
#Standard Deviation
students.Height.std()

0.3259227531573103

In [75]:
#Count
students.Name.count()

13

In [76]:
# group by 
students.groupby('House').Height.mean()

House
Gryffindor    4.452500
Hufflepuff    4.533333
Ravenclaw     4.300000
Slytherin     4.833333
Name: Height, dtype: float64

In [77]:
students.groupby('House').Grade.min()

House
Gryffindor    86
Hufflepuff    78
Ravenclaw     79
Slytherin     60
Name: Grade, dtype: int64

In [78]:
goods = students.groupby('House').Grade.max()

In [79]:
print(goods)

House
Gryffindor    100
Hufflepuff     92
Ravenclaw      95
Slytherin      69
Name: Grade, dtype: int64

In [80]:
# This creates a series
type(goods)

pandas.core.series.Series

In [81]:
# to create a dataframe add reset.index() at the end

In [82]:
goods = students.groupby('House').Grade.max().reset_index()

In [83]:
goods

        House  Grade
0  Gryffindor    100
1  Hufflepuff     92
2   Ravenclaw     95
3   Slytherin     69

In [84]:
type(goods)

pandas.core.frame.DataFrame

In [85]:
# Applying lambda to get percentile of students with broom weight in 25 percentile
broom_25 = students.groupby('House').broom_weight.apply(lambda x: np.percentile(x,25)).reset_index()
print(broom_25)

        House  broom_weight
0  Gryffindor      22.77349
1  Hufflepuff      24.29100
2   Ravenclaw      23.43560
3   Slytherin      25.88160

In [86]:
h_p_counts = students.groupby(['House','Blood_Type'])['Name'].count().reset_index()

In [87]:
h_p_counts

        House   Blood_Type  Name
0  Gryffindor   Half-Blood     1
1  Gryffindor  Muggle-born     1
2  Gryffindor   Pure-Blood     2
3  Hufflepuff   Half-Blood     2
4  Hufflepuff  Muggle-born     1
5   Ravenclaw   Pure-Blood     3
6   Slytherin   Half-Blood     1
7   Slytherin   Pure-Blood     2

In [90]:
pivot = h_p_counts.pivot(
  columns = 'Blood_Type',
  index = 'House',
  values = 'Name'
).reset_index()

In [91]:
pivot

Blood_Type       House  Half-Blood  Muggle-born  Pure-Blood
0           Gryffindor         1.0          1.0         2.0
1           Hufflepuff         2.0          1.0         NaN
2            Ravenclaw         NaN          NaN         3.0
3            Slytherin         1.0          NaN         2.0

**Apply Function for Columns modification**

Upper Case or Lower Case 
from string import lower
from string import upper

 Capitalize all in a column
head_house['HogwartsHouse'] = head_house.HogwartsHouse.apply(upper)